[Unit]
Description=Syncer for S3 buckets
Wants=network-online.target
After=network-online.target

[Service]
EnvironmentFile=/etc/sysconfig/syncer.env
PassEnvironment=SYNCER_BUCKETKEY SYNCER_BUCKETNAME SYNCER_BUCKETPATH SYNCER_BUCKETSECRET SYNCER_BUCKETURL SYNCER_LOCALPATH SYNCER_LOGLEVEL SYNCER_PRESYNCCMD SYNCER_PULLINTERVAL SYNCER_PURGEMISSING SYNCER_WEBHOOKMETHOD SYNCER_WEBHOOKURL 
User=prometheus
Group=prometheus
Type=simple
Restart=on-failure
WorkingDirectory=/etc/prometheus
ExecStart=/usr/local/bin/syncer 
LimitNOFILE=10000
TimeoutStopSec=20

[Install]
WantedBy=multi-user.target